.App {
  font-family: 'DM Sans';
  background-color: #f8f9fa;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

.Background {
  background-color: #fc7fb6;
  color: #ffffff;
}

.Main {
  padding: 0px;

}