.LineBarShort {
    background-color: #dcdcdc;
    height: 20px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.LineBarMedium {
    background-color: #dcdcdc;
    height: 15px;
    width: 85%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.LineBarLong {
    background-color: #dcdcdc;
    height: 15px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.PlaceHolderBtn {
    height: 30px;
    width: 60%;
    border-radius: 4px;
}
