.LineBarShort,
.LineBarMedium,
.LineBarLong,
.PlaceHolderBtn {
  background-color: #dcdcdc;
  border-radius: 4px;
  margin-bottom: 10px;
  opacity: 1; /* Start with full visibility */
  animation: fadeInOut 3s infinite alternate;
}

/* Fade In and Out animation */
@keyframes fadeInOut {
  0% {
    opacity: 1; /* Fully visible at the start */
  }
  50% {
    opacity: 1; /* Stay fully visible at the middle */
  }
  100% {
    opacity: 0.5; /* Fade out to nearly invisible at the end */
  }
}

/* Specific styles for different bar sizes */
.LineBarShort {
  height: 20px;
  width: 70%;
}

.LineBarMedium {
  height: 15px;
  width: 85%;
}

.LineBarLong {
  height: 15px;
  width: 90%;
}


.PlaceHolderBtn {
    height: 30px;
    width: 60%;
    border-radius: 4px;
}

.PictureCardPositive {
    height: 200px !important;
    object-fit: contain;
    background-color: black;
}

.PictureCardNeg {
    height: 200px !important;
    object-fit: cover;
    background-color: #f4f5f7;
}

.OpacityPositive {
    opacity: 1;
    width: 100%;
}

.OpacityNeg {
    opacity: 0.5;
    width: 100%;
   
}

.MinHeight {
    min-height: 150px;
}

.MarginRight {
    margin-right: 10px;
}